<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index 2</title>
  <style>
    body {
      padding: 8% 20%;
      background-color: #ffffff;
    }

    #videoList {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      /* Video öğelerini sağa ve sola yasla */
      margin-right: -15px;
      /* Sağdan boşluk */
      margin-left: -15px;
      /* Soldan boşluk */
    }

    .videoWrapper {
      flex: calc(33.3% - 28px);
      margin: 0;
      position: relative;
      overflow: hidden;
      cursor: pointer;
      max-width: calc(33.3% - 0px);
      box-sizing: border-box;
      padding: 0;
      text-align: center;
    }

    .videoWrapper video {
      /* width: 540px; 
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto; */
      width: 396px;
      max-width: 100%;
      max-height: 83%;
      display: block;
      margin: 0 auto;

    }

    #popup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: none;
      justify-content: center;
      align-items: center;
    }

    #popup video {
      max-width: 80%;
      max-height: 80%;
    }

    #closeButton {
      position: fixed;
      top: 2%;
      right: 2%;
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 3.5em;
      font-weight: bold;
      background: rgba(0, 0, 0, -0.2)
    }

    #qrButton {
      position: fixed;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: transparent;
      border: 6px solid #f2f2f2;
      color: #f2f2f2;
      padding: 30px 50px;
      cursor: pointer;
      font-weight: 500;
      font-size: 2rem;
      border-radius: 4px;
    }

    #qrPopup {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      display: none;
      justify-content: center;
      align-items: center;
    }

    #qrContent {
      background-color: #fff;
      padding: 20px;
    }
    #refreshButton {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

#refreshButton svg {
  fill: #fff; /* Düğme rengini ayarlayın */
  width: 54px;
  height: 54px;
}
#bottomImage {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
}

  </style>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
</head>

<body>
  <h1 style="font-family: 'Pacifico', cursive; font-size: 4rem; text-align: center;    margin-top: -120px;">Glambot Videos</h1>

  <div id="refreshButton" onclick="refreshPage()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
      <path <path xmlns="http://www.w3.org/2000/svg" d="M4.06189 13C4.02104 12.6724 4 12.3387 4 12C4 7.58172 7.58172 4 12 4C14.5006 4 16.7332 5.14727 18.2002 6.94416M19.9381 11C19.979 11.3276 20 11.6613 20 12C20 16.4183 16.4183 20 12 20C9.61061 20 7.46589 18.9525 6 17.2916M9 17H6V17.2916M18.2002 4V6.94416M18.2002 6.94416V6.99993L15.2002 7M6 20V17.2916" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
    
  </div>
  
  <div id="videoList">
    <% videoList.forEach(function(video) { %>
      <div class="videoWrapper" onclick="openPopup('<%= video %>')">
        <video preload="metadata">
          <source src="/<%= video %>" type="video/mp4">
        </video>
      </div>
      <% }); %>

        <div id="popup" onclick="closePopup()">
          <button id="closeButton" onclick="closePopup()">×</button>
          <!-- Çıkış yazısını çarpı simgesi (×) ile değiştir -->
          <video controls id="popupVideo"></video>
          <button id="qrButton" onclick="event.stopPropagation(); openQrPopup();">QR</button>
          <!-- Video pop-up'ında QR düğmesi -->
          <div id="qrPopup" onclick="closeQrPopup()">
            <div id="qrContent" onclick="event.stopPropagation();">
              <img id="qrImage" src="" alt="QR Code">
            </div>
          </div>

        </div>
          <img id="bottomImage" src="/v.jpg">
        <!-- QR Button ve QR Pop-up -->

        <script src="/socket.io/socket.io.js"></script>
        <script>
          var socket = io();

          function openPopup(videoSrc) {
            var popup = document.getElementById('popup');
            var popupVideo = document.getElementById('popupVideo');
            popup.style.display = 'flex';
            popupVideo.src = '/' + videoSrc;
          }

          function closePopup() {
            var popup = document.getElementById('popup');
            var popupVideo = document.getElementById('popupVideo');
            popup.style.display = 'none';
            popupVideo.src = '';
          }
          socket.on('new_video', function (filename) {
            // Yeni video eklendiğinde DOM'u güncelle
            var videoList = document.getElementById('videoList');
            var newVideoWrapper = document.createElement('div');
            newVideoWrapper.className = 'videoWrapper';
            newVideoWrapper.onclick = function () { openPopup(filename); };

            var newVideo = document.createElement('video');
            newVideo.preload = 'metadata';

            var newSource = document.createElement('source');
            newSource.src = '/' + filename;
            newSource.type = 'video/mp4';

            newVideo.appendChild(newSource);
            newVideoWrapper.appendChild(newVideo);
            videoList.appendChild(newVideoWrapper);
          });

          async function openQrPopup() {
            const qrPopup = document.getElementById('qrPopup');
            const qrImage = document.getElementById('qrImage');
            const videoSrc = document.getElementById('popupVideo').src;
            const videoFilename = videoSrc.substring(videoSrc.lastIndexOf('/') + 1);
            try {
              const response = await fetch(`/qr/${videoFilename}`);
              const data = await response.json();
              qrImage.src = data.qrSvg;
              qrPopup.style.display = 'flex';
            } catch (error) {
              console.error('Error fetching QR code:', error);
            }
          }

          function closeQrPopup() {
            const qrPopup = document.getElementById('qrPopup');
            qrPopup.style.display = 'none';
          }
          function refreshPage() {
            window.location.reload();
          }
        </script>
</body>

</html>